/*网站样式*/
html,body{
	height:100%;
	overflow:hidden;
	
}
body.login {
	background: url(../img/login_bg-3.jpg) no-repeat center center #1a1f37;
/*4为黑*/
	background-size: cover;
}

/*头部导航栏样式*/
.navbar-wrapper{min-width: 1050px; height:65px}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    z-index: 999999
}
.navbar-blue{background:#1c223c;}
.navbar-blue .logo{color: #fff;}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
} 
.logo {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%
}
a.logo:hover {text-decoration: none}
.navbar .logo {
    height: 65px;
    line-height: 65px;
    float: left
}
.navbar-logo{margin-left: 30px}
.navbar-logo img{margin: 15px 0}
.navbar-slogan {margin-left: 20px; font-size: 25px}

.navbar .navbar-userbar{
    position: absolute;
    top: 18px;
    right: 30px;
}
.navbar .navbar-userbar .btn{ 
    text-decoration: none;
}
.navbar .navbar-userbar a{ 
    color: #fff;
}
.navbar .navbar-userbar a:hover{
    color: #dedede;
}



/*登录页*/
.login-wrap {
	position: relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
.logo-unicom {
	position: absolute;
	z-index:2;
	width: 100px;
	top: 20px;
	left: 30px;
}
.login-box{
	position:absolute;
	z-index:3;
	top: 50%;
	left: 50%;
	margin:-215px 0 0 -350px;
	width:100%;
	height:100%;
	max-width: 700px;
	mix-height: 430px;
	-moz-box-shadow: 0px 30px 60px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 30px 60px rgba(0,0,0,.1);
	box-shadow: 0px 30px 60px rgba(0,0,0,.1);
}
.left-box {
	position:absolute;
	width: 350px;
	height: 430px;
	background: #fff;
}
.ico-login {
	margin: 40px auto 0 auto;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 5px 30px #ffaeae;
	-webkit-box-shadow: 0 5px 30px  #ffaeae;
	-moz-box-shadow: 0 5px 30px #ffaeae;
}
.ico-login img {
	width: 64px;
	margin-left: -1px;
	margin-top: -4px;
}
.login-title {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
	text-align:center;
}
.login-option{
	width:calc(100% - 100px);
	width:-webkit-calc(100% - 100px);
	width:-moz-calc(100% - 100px);
	margin:25px 0 0 50px;
	height:32px;
	background:#f5f5f5;
	line-height:33px;
	text-align:center;
	color:#999;
	font-size:13px;
}
.login-option ul .user-name-btn{
	width:50%;
	height:33px;
	float:left;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow:hidden;
}
.login-option ul .phone-btn{
	width:50%;
	height:32px;
	float:left;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow:hidden;
}
.login-option ul li a{
	display:block;
	width:100%;
	height:100%;
	cursor: pointer;
	text-decoration: none;
}
.active{
	background:#ff6258;
	color:#fff;
}
.loginForm{
	width:calc(100% - 100px);
	width:-webkit-calc(100% - 100px);
	width:-moz-calc(100% - 100px);
	margin-left:50px;
}
.user-name{
	margin-top:5px;
}
.user-password{
	margin-top:15px;
}
.nerification-number{
	width:calc(100% - 105px);
	width:-webkit-calc(100% - 105px);
	width:-moz-calc(100% - 105px);
}
.send-nerification-number{
	width:100px;
	background:#e6e6e6;
	border:0;
	height:32px;
	color:#999;
	cursor: pointer;
	border-radius: 3px;
	appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
}
.send-nerification-number:hover{
	background:#e0e0e0;
}
.msg{
	color:red;
	font-size:13px;
	text-align:center;
	margin-top:10px;
}
.btn-login {
	position:relative;
	width:100%;
	height: 36px;
	border-radius: 3px;
	box-sizing: border-box;
	background-image: linear-gradient(to right, #ff0945 0%, #ffca6f 100%);
	-moz-box-shadow: 0px 8px 15px rgba(255,203,185,.5);
	-webkit-box-shadow: 0px 8px 15px rgba(255,203,185,.5);
	box-shadow: 0px 8px 15px rgba(255,203,185,.5);
	margin-top:25px;
}
.btn-login .button {
	width:100%;
	height:100%;
	margin:0 auto;
	display:block;
	background:none;
	height:36px;
	border:none;
	font-weight: 600;
	color:#fff;
	cursor: pointer;
}
.btn-login:hover {
	background-image: linear-gradient(to right, #f9033f 0%, #fec360 100%);
}
.loading{
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
	color:#fff;
	background-image: linear-gradient(to right, #f9033f 0%, #fec360 100%);
}
.loading span{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	text-align:center;
	line-height:34px;
	font-weight:600;
}
.input-text-login {
	border-radius: 3px;
	background: #fffcfb;
	border: 1px solid #f0f0f0;
	appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
}


.right-box {
	position: absolute;
	overfollow: hidden;
	right: 0;
	top: 0;
	max-width: 350px;
	max-height: 430px;
	background-size: 100%;
	background-position: bottom;
	border-left: 1px solid #f5f5f5;
}

/*底部页脚声明*/
.footer-login{ 
	position: absolute;
	z-index: 1;
	height:70px;
	bottom: 0;
	line-height: 70px;
	display: block; 
	width: 100%;
	font-family:tahoma,Arial;
	font-size:12px;color:#bbb;
	text-align:center;
}
.footer-login p{
	color:#bbb;
	text-decoration: none
}


@media only screen and (max-width: 768px) {
.login-box{
	position:absolute;
	top: 50%;
	left: 7.5%;
	margin:-215px 0 0 0;
	width:90%;
	height:100%;
	max-width: 85%;
	mix-height: 430px;
	-moz-box-shadow: 0px 30px 60px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 30px 60px rgba(0,0,0,.1);
	box-shadow: 0px 30px 60px rgba(0,0,0,.1);
}
.left-box {
	position:absolute;
	width: 100%;
	height: 430px;
	background: #fff;
}
.right-box {
	display: none;
}
}


/*左导航栏*/
.aside{margin-bottom:0px;}
.sidebar {background: #f0f0f0}
.sidebar .item{ position:relative;background: #f0f0f0;border-bottom: 1px solid #c7c7c7;border-top: 1px solid #fff;}
.sidebar .item:last-child{ border-bottom: 0;border-top: 1px solid #fff;}
.sidebar .item h4{margin:0;margin-top: 5px; position:relative;font-size:16px;line-height:20px;padding:3px 10px;color:#666;cursor:pointer;}
.sidebar .item a:hover{text-decoration: none;}
.sidebar .item h4 i{padding: 5px; margin-right: 10px;width:16px}
.sidebar .item .info{margin-bottom: 15px; margin-right: 20px;}
.sidebar .item .info a{display:block; margin-left: 45px;font-size:15px; line-height: 23px; color: #c5202f}/*蓝色#4e99cb*/
.sidebar .item .info a.active{color: #fff;background-color: #f89f80}/*蓝色背景色#78bfdd*/
.sidebar .item .info a.active:before{
    content: ">";
    display: inline-block;
    font-size: 10px;
    margin-left: -28px;
    padding: 4px 10px;
    color: #fff;
    background-color: #f89f80
}/*蓝色背景色#78bfdd*/



/*右边*/


/*首页*/

.article-box{
}
.index-tab{
}

.user-panel{
	height:100%;
	margin-bottom:0;
    background-color: #f6f7f8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.user-panel .panel-header{
    margin-top: 100px;
    margin-bottom: 40px
}
.user-panel .pic img{
    height:90px;
    width: 90px;
    border-radius: 100%;
}
.user-panel .pic p{
    color: #333;
}
.user-panel .info p{
     line-height: 30px;
}
.user-panel .info time{
    color: #666;
}
.state-list{ min-width: 625px}
.state-list li{
    display: inline-block;
    width: 86px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px
}

.state-list li .icon{
    display: block;
    width: 86px;
    height: 98px;
    background: url(../img/state-list_bg.png) transparent;
    text-align: center;
    position: relative;
}
.state-list li .icon1{
    background-position: 0 0;
}
.state-list li .icon2{
    background-position: -120px 0;
}
.state-list li .icon3{
    background-position: -240px 0;
}
.state-list li .icon4{
    background-position: -360px 0;
}
.state-list li b{
    position: absolute;
    left: 36px;
    top: 65px;
}
.state-list li p{
    margin-top: 5px;
    text-align: center;
}

.panel-bg{

    
}
.user-panel .panel-body{
  
	margin-bottom:0;
}



/*列表-查询表单*/
.search-form{
    padding: 0 20px;
}
.search-form .form-label{
    display: inline-block;
    width: 85px;
    font-size: 12px;
}
.search-form .form-label1{
    display: inline-block;
    width: 50px;
    font-size: 12px;
}

.search-form .formControls{
    display: inline-block;
    width: 160px
}
.search-form .formControls-max{
    width: 280px
}
.search-form .formControls .input-text{
    width: 120px
}
.search-form .formControls .input-min{
     display: inline-block;
    width: 120px
}
.search-form .formControls .input-max{
     display: inline-block;
    width: 250px
}
.search-form .btn-primary,.search-form .btn-secondary{
    padding:3px 50px;
}


/*在sub-cont下的表单颜色*/
.sub-cont .search-form-full .formControls{
    width: 120px;
}
.sub-cont .search-form-full .formControls .input-text{
    width: 120px;
}
.sub-cont .search-form-full .btn{
    padding:2px 15px;
}




/*菜单管理新增页面*/
.menu-form,.organization-form{

}

.menu-form .form-group,.organization-form .form-group{
    margin-top: 20px;
}
.menu-form .form-label,.organization-form .form-label{
    display: inline-block;
    width: 70px;
    font-size: 12px;
    text-align: right;
    color: #999;
}
.organization-form .form-label{
    width: 90px;   
    height: 37px;
    line-height: 37px
}
.menu-form .formControls{
    display: inline-block;
    width: 250px
}
.organization-form .formControls{
     display:inline-block;
    width: 300px
}
.organization-form .input-min{
    width: 185px
}
.organization-form .btn-third{
    padding: 6px 5px;
    margin-left: 15px;
}




/*菜单管理的弹窗样式*/
.modal .form-group{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px
}
.modal label{width: 90px;line-height: 30px; }
.modal .input-text,.modal .textarea{
    width:  250px
}
.modal .role-wrap{
    width: 280px;
    vertical-align: middle;
}
.modal .role-wrap .btn{
    margin-right: 10px;
    margin-top: 10px;
    border-color: #cccccc;
    background: #eee;
    color: #666;
}
/*用户管理*/
/*修改*/
.user-form,.role-form{
    padding-bottom:30px
}
.user-form .btn-wrap{
    display: inline-block;
}
.user-form .btn-wrap .btn{
    margin-right: 5px;
    padding: 2px 15px
}

.user-form .btn-wrap .btn i{
    margin-left: 10px;
}

.user-form .role-wrap{
    max-width: 355px;
}
.user-form .role-wrap .btn{
    margin-bottom: 5px;
}
/*工单详情*/
.orderDetail-table .panel-body{
    padding: 10px 60px;
}
.orderDetail-table h4{
    color: #4d84b3
}
.orderDetail-table p{
    line-height: 25px;
}


/*工单、产品、商户详情 新增 修改样式*/
/*
.Detail-cont .panel-primary .panel-body,.add-cont .panel-body{
    padding: 10px 40px;
}
*/
.Detail-cont h4,.add-cont h4{

    color: #4d84b3
}
.Detail-cont p,.add-cont p{
    line-height: 35px;
    color: #333;
}

.sh-form-group .textarea{
    width: 560px;
    height: 80px
}
.sh-form-group .input-text{
    margin-top: -2px;
    width: 260px    
}

.Edit-cont .form-group{
    margin-top: 10px;
    position:relative;
}

.Edit-cont .form-group label{
    display: inline-block;
    line-height: 25px;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color:#999;
    vertical-align: middle;
}

/*错误警示*/
.Edit-cont .form-group label.error{
    color: #f00;
    width: 350px;
    left: 470px;
    text-align: left;
}
.Edit-cont .form-group.max label.error{
    left: 620px;
}
.Edit-cont .form-group  .input-text,.Edit-cont .form-group  .textarea{
    width: 350px;
    vertical-align: middle;
}


/*角色管理*/
.role-setting-wrap{
    display: inline-block;
    width: 700px;
   
}
.role-setting-wrap .op-box{
    display: inline-block;
    width:50px;   
    text-align: center;
    margin-right: 5px;
    vertical-align: middle;
}

.role-setting-wrap .op-box span{
    display: block;
    width: 50px;
    font-size: 30px;
    color: #32416c;/*#1ea5e3*/
    margin-bottom: 15px;
    cursor: pointer;
     
}
.role-setting-wrap .op-box span:hover{
   color: #37b7f2; 
}
.role-setting-wrap .box{
    display: inline-block;
    width:200px; 
    margin-right: 5px;
     vertical-align: middle;      
}
.role-setting-wrap .box .bd label{
    color:#647497;
}
.role-setting-wrap .hd{
    background: #32416c;/*#1ea5e3*/
    color: #fff;
    padding: 2px 10px;
}
.role-setting-wrap .bd{
    padding: 5px 10px;
    border:1px solid #32416c;
    border-top-width: 0;
    height: 185px;
    overflow-y: auto;
    
}
.role-setting-wrap .form-group{
    display: inline-block;
    width: 85px;
    text-align: center;
}
.role-setting-wrap .form-group label{
    width: 40px;
}

/*错误页*/
.error-panel{
    min-height: 560px;
    padding:15px 200px;
}
.error-panel  h4{
    color: #999;
    line-height: 30px;
    font-size: 16px;    
}


/*数据资源管理*/
#dataForm .btn-add{
    margin-left: 5px;
    font-size: 20px;
    color: #4d84b3;
    cursor: pointer;
    vertical-align: middle
}
#dataForm .btn-add:hover{
    color: #5f96c6;
}


/*数据字段*/
.dataNeedy{
     border: 1px solid #ddd;
     border-radius: 5px;
     width: 600px;
    
}
.dataNeedy.w350,.dataNeedy.w350 .data-box,.dataNeedy.detail,.dataNeedy.detail .data-box{
    width: 350px;
}
.dataNeedy .add-box {
    background: #e7edf2;
    width: 600px;
    padding: 5px 0;
    
}
.dataNeedy .data-box{
    width: 600px;
    height: 150px;
    padding-bottom: 5px;
    overflow-y: auto; 
}
.dataNeedy .add-box label{
    float: left;
    width: 70px;
    text-align: center;
    color: #4d84b3;
} 
.dataNeedy .add-box .input-text{
    float: left;
    width: 80px;
    border:0;
}
.dataNeedy .add-box .input-text[name="dataDes"]{
    width: 160px;
}
.dataNeedy .add-box .btn-add{
    float: left;
    margin-left: 15px;
    font-size: 20px;
    color: #4d84b3;
    cursor: pointer;
}
.dataNeedy .add-box .btn-add:hover{
    color: #5f96c6;
}

.dataNeedy .data{
    display: inline-block;
    position: relative;
    color: #888;
    background: #fff;  
    margin-top: 15px;
    margin-left: 20px;
    *zoom:1;   
}
.dataNeedy .data b{
    color: #f82525;
    font-size: 16px;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;   
}
.dataNeedy .data b:hover{
    color: #fa5d5d;
}
.dataNeedy .data .name{
    display: block;
    font-size: 14px;
    padding: 3px 15px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}
.dataNeedy .data .type,.dataNeedy .data .des{
    display: none;
}
.dataNeedy .data .name:hover{
    border-color: #2199e5;
    background: #2199e5;
    color: #fff;
}

/*查看详情*/
.dataNeedy.detail .data .name{
    display: block;
    font-size: 14px;
    padding: 3px 15px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
}
.dataNeedy.detail .data .name:hover{
    border-color: #2199e5;
    background: #2199e5;
    color: #fff;
}
.dataNeedy.detail .data .type,.dataNeedy.detail .data .des{
    display: none;
}


/*配置权限设置*/
.tags-box{
    height: 430px;
    margin: 30px 0;
    background: #fff;
   position: relative;

}

.tags-box .tags-sidebar{
    position: absolute;
    width: 170px;
    height: 408px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f5f5f5; 
}

.tags-box .tags-cont{
    margin-left: 180px;
    height: 408px;
    overflow-x: hidden;
    background: #f8f8f8;
}

.tags-box .tags-footer{
    margin-left: 180px;
    height: 20px;
    background: #f8f8f8;
}

.tags-box .tags-sidebar li{
     border-bottom: 1px solid  #fbfbfb;;
    height: 37px;
    line-height: 37px;
    padding-left: 20px;
    background: #f5f5f5; 
    cursor: pointer;
    border-left: 2px solid #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.tags-box .tags-sidebar li input{
    margin-right: 10px;
}
.tags-box .tags-sidebar li:hover{
    background: #e9e9e9;
    border-left: 2px solid #e9e9e9;
}
.tags-box .tags-sidebar li:hover s{
    background: #e9e9e9;
}
.tags-box .tags-sidebar li.selected{
    border-left: 2px solid #adc852;
    
}
.tags-box .tags-sidebar li.disabled{
    border-left: 2px solid #f00; 
}
.tags-box .tags-sidebar li.disabled s{ 
    display:inline-block;
    width: 38px;
    height: 38px;
    background: url(../img/arrow-error.png) no-repeat center #f7f7f7;
    position: absolute;
    top: 0;
    right: 0;
}
.tags-box .tags-sidebar li.disabled:hover s,.tags-box .tags-sidebar li.cur s{
    background: url(../img/arrow-error.png) no-repeat center #e9e9e9;
}

.tags-box .tags-sidebar li.disabled input{
    cursor: not-allowed;
}
.tags-box .tags-sidebar li.cur {
    border-left: 2px solid #3496d5;
    background: #e9e9e9;
    color: #3496d5;
}
.tags-box .tags-sidebar li.cur b{
    display: block;
    width: 38px;
    height: 38px;
    background: url(../img/arrow-right.png) no-repeat center center #e9e9e9;
    position: absolute;
    right: 0;
    top: 0;
}
/*权限配置p*/
.tags-box .tags-sidebar p{
    border-bottom: 1px solid  #fbfbfb;;
    height: 37px;
    line-height: 37px;
    padding-left: 20px;
    background: #d7e3f2;
    color:#3399cc;
    cursor: pointer;
}
.tags-box .tags-sidebar p b{
    float: right;
    margin-right: 15px;
    margin-top: 16px;
    display: block;
    width: 10px;
    height: 6px;
    background: url(../img/arrow-down.png) no-repeat;
}
.tags-box .tags-sidebar p.active b{

    background: url(../img/arrow-up.png) no-repeat;
}
.tags-cont .box{
    display: none;
}

.tags-cont .btn{
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dcdcdc;
    margin-top: 15px;
    margin-left: 20px;
    cursor: default;
}
	