<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>stockmanagement-bi</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>  
    <listener-class>com.chinauicom.research.commons.utils.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <servlet-name>service</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.chinauicom.research.commons.CheckLoginFilter</filter-class>
    <init-param>
      <param-name>loginStrings</param-name>
      <param-value>sysLogin/toLogin.do;sysLogin/checkSysLogin.do;sysLogin/checkPhone.do;sysLogin/sendSms.do;sysLogin/checkCode.do;index.jsp;yeepay/pay.do;yeepay/callback.do</param-value>
    </init-param>
    <init-param>
      <param-name>includeStrings</param-name>
      <param-value>.do;.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>redirectUrl</param-name>
      <param-value>sysLogin/toLogin.do</param-value>
    </init-param>
    <init-param>
      <param-name>disableFilter</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/stockmanagementbi-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>*.sync</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpeg</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.bmp</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.xml</url-pattern>
    <url-pattern>*.txt</url-pattern>
    <url-pattern>*.cur</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.swf</url-pattern>
    <url-pattern>*.xlsx</url-pattern>
    <url-pattern>*.xls</url-pattern>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.avi</url-pattern>
    <url-pattern>*.mp4</url-pattern>
    <url-pattern>*.wmv</url-pattern>
    <url-pattern>*.doc</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>*.eot</url-pattern>
    <url-pattern>*.woff</url-pattern>
    <url-pattern>*.woff2</url-pattern>
    <url-pattern>*.ttf</url-pattern>
    <url-pattern>*.svg</url-pattern>
    <url-pattern>*.rar</url-pattern>
    <url-pattern>*.zip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.chinauicom.research.commons.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/404.do</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.do</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.do</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/c.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/c-1_0-rt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/c-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/x.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/x-1_0-rt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/x-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/sql.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/sql-1_0-rt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/sql-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/fmt-1_0-rt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/fn.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/oscache.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/oscache.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/spring.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/spring-form.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>